{% extends "plantilla.html"%}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="page-header"> Seleccionar pecera a monitorear</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      Lista de Peceras ingresadas :
    </div>
    <div class="panel-body center-block">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center"> Numero de Pecera Ingresada </th>
            <th class="text-center"> Nombre de la pecera </th>
            <th class="text-center"> Galones</th>
            <th class="text-center"> Litros</th>
            <th class="text-center"> Más Información </th>
          </tr>
        </thead>
        <tbody>
        {% for elem in lista %}
          {% if elem[1] == 1 %}
          <tr>
            <td class="text-center">{{elem[1]}}</td>
            <td class="text-center">{{elem[0]}}</td>
            <td class="text-center">{{elem[2]}}</td>
            <td class="text-center">{{elem[3]}}</td>

            <td class="text-center">
              <a href="/pecera/{{elem[1]}}" class="glyphicon glyphicon-plus" style="text-decoration: none;" role="button"></a>
            </td>
          </tr>
          {% else %}
          <tr class="danger">
            <td class="text-center">{{elem[1]}}</td>
            <td class="text-center">{{elem[0]}}</td>
            <td class="text-center">{{elem[2]}}</td>
            <td class="text-center">{{elem[3]}}</td>

          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <i class="fa fa-pencil-square-o" ></i> Ingresar Pecera nueva
      </div>
      <div class="panel-body">
        <form  action="index" method="post">
        <div class="col-xs-12">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="form-group text-center">
              <div class="page-header text-center">
                <label for="sel1">Ingresar Nombre de la pecera:</label>
              </div>

              <br>
              <input type="name" placeholder="nombre pecera" name="nombre_pecera" class="form-control">
            </div>
          </div>
          <div class="col-lg-4"></div>
        </div>

        <div class="col-xs-12">
          <div class="page-header text-center">
            <label>Ingresar capacidad de la pecera </label>
          </div>
          <br>
        </div>

<!----------------------------------------------------->
      <div class="col-xs-12">
        <div class="col-lg-6">
          <div class="form-group text-center">
            <label for="opcion">Forma de ingreso:</label>
            <select class="form-control" id="opcion" name="opcion_capacidad" >
              <option value="Litros">Litros</option>
              <option value="Galones">Galones</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group text-center">
              <label for="cant">Ingrese Cantidad:</label>
              <input type="number" step="0.01" name="capacidad" min="1" max="1000" class="form-control">
            </div>
        </div>

      </div>
<!----------------------------------------------------->

        <div class="col-xs-12">
            <div class="row">
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                  </div>
              </div>
          </form>

        {% if exito == 0 %}
        <br>
        <div class ="col-xs-12">
          <div class="alert alert-danger text-center">
            <strong>No se puede agregar la pecera</strong>
          </div>
        </div>
        {% endif %}
        {% if exito == 1 %}
        <br>
        <br>
        <div class ="col-xs-12">
          <div class="alert alert-success text-center">
            <strong>Pecera agregada correctamente</strong>
          </div>
        </div>
        {% endif %}

        </div>
      </div>
    </div>
  </div>



</div>
<!-- /.row -->

{% endblock%}
