{% extends "plantilla.html"%}
{% block link%}
  <a href="/peces/1"> <i class="fa fa-tasks"></i> Administracion y lista de peces</a>
{% endblock%}
{% block content %}
<script src="../static/plugins/highcharts/stock/highstock.js"></script>
<script src="../static/plugins/highcharts/stock/exporting.js"></script>
<script src="../static/plugins/highcharts/highcharts.js"></script>
<script src="../static/plugins/highcharts/modules/annotations.js"></script>
<script src="../static/plugins/highcharts/modules/exporting.js"></script>

<div class="row">
    <div class="col-lg-12 ">
        <h1 class="page-header text-center">
          Datos pecera juanito :)
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- Datos en tiempo real -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
        <i  class="fa fa-bar-chart-o fa-fw"></i> Datos en tiempo real
    </div>
    <div class="panel-body ">
      <div class="col-lg-6 text-center">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Ph
          </div>
          <div class="panel-body">
            <p id="data_temp">...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Temperatura  (°C)
          </div>
          <div class="panel-body">
            <p id="data_ph">...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.row -->
<div id="#graficos"class="row">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <i class="fa fa-bar-chart-o fa-fw"></i> Solicitar Graficos
        </div>
        <!-- /.panel-heading -->
      <div class="panel-body">
            <div class="panel panel-primary">
                  <div class="panel-heading text-center">
                    <i class="fa fa-edit"></i> Editar Intervalo
                  </div>
                  <div class="panel-body">
                    <form class="" action="pecera.html" method="post">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <div class="form-group text-center">
                            <label for="sel1">Tiempo Inicio:</label>
                              <input type="date" vale="tiempo_final">
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                          <div class="form-group text-center">
                            <label for="sel1">Tiempo Final:</label>
                            <input type="date" vale="tiempo_final">
                          </div>
                        <div class="col-lg-12">
                          <div class="form-group text-center">
                            <label>Variable a graficar:</label>
                            <div class="radio">
                              <input type="radio" name="gender" value="temperatura" checked>Temperatura<br>
                            </div>
                            <div class="radio">
                              <input type="radio" name="gender" value="ph">Ph<br>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Solicitar</button>
                      </div>
                    </form>
                  </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading text-center">
                <i class="fa fa-area-chart"></i> Resultado de consulta
              </div>
              <div class="panel-body text-center">
                <div class"container">
                  <div id="chart1"></div>
                </div>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading text-center">
                <i class="fa fa-area-chart"></i> Resultado de consulta
              </div>
              <div class="panel-body text-center">
                <div class"container">
                  <div id="chart2"></div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
</div>
<!-- /.row -->


<script>

var temperatura;
var ph;
$(document).ready(function () {
    setInterval("ajaxs()", 1000)
});

function ajaxs() {
    $.ajax({
        type: "POST",
        url: '/data',
        async: true,
        success: function (data) {
            temperatura = data.temperatura
            ph=data.ph
            $("#data_temp").text(data.temperatura)
            $('#data_ph').text(data.ph)
        }
    });
}

// Data generated from http://www.bikeforums.net/professional-cycling-fans/1113087-2017-tour-de-france-gpx-tcx-files.html
Highcharts.setOptions({
    global: {
        useUTC: false
    }
});
var elevationData = [];

var chart1 = new
Highcharts.setOptions({
    global: {
        useUTC: false
    }
});

// Create the chart
var chart1 = Highcharts.stockChart({
    chart: {
        renderTo: "chart1",
        events: {
            load: function () {
                // set up the updating of the chart each second

                var series = this.series[0];
                setInterval(function () {
                  console.log("temperatura : " + ph)
                      if(temperatura){
                        var x = (new Date()).getTime(), // current time
                        y = Math.round(temperatura);
                        series.addPoint([x, y], true, true);
                      }
                }, 1000);
            }
        }
    },

    rangeSelector: {
        buttons: [{
            count: 1,
            type: 'minute',
            text: '1M'
        }, {
            count: 5,
            type: 'minute',
            text: '5M'
        }, {
            type: 'all',
            text: 'All'
        }],
        inputEnabled: false,
        selected: 0
    },

    title: {
        text: 'Gráfico de Temperatura'
    },

    exporting: {
        enabled: false
    },

    series: [{
        data: elevationData
    }]
});



// Now create the chart
var chart2 = new Highcharts.stockChart({
    chart: {
        renderTo: "chart1",
        events: {
            load: function () {
                // set up the updating of the chart each second

                var series = this.series[0];
                setInterval(function () {
                  console.log("ph : " + ph)
                      if(ph){
                        var x = (new Date()).getTime(), // current time
                        y = Math.round(ph);
                        series.addPoint([x, y], true, true);
                      }
                }, 1000);
            }
        }
    },

    rangeSelector: {
        buttons: [{
            count: 1,
            type: 'minute',
            text: '1M'
        }, {
            count: 5,
            type: 'minute',
            text: '5M'
        }, {
            type: 'all',
            text: 'All'
        }],
        inputEnabled: false,
        selected: 0
    },

    title: {
        text: 'Gráfico de Ph'
    },

    exporting: {
        enabled: false
    },

    series: [{
        data: elevationData
    }]
});
</script>


{% endblock%}
