{% extends "plantilla.html"%}
{% block link%}
  <a href="/peces/1"> <i class="fa fa-tasks"></i> Administracion y lista de peces</a>
{% endblock%}
{% block content %}
<script src="../static/plugins/highcharts/stock/highstock.js"></script>
<script src="../static/plugins/highcharts/stock/exporting.js"></script>
<script src="../static/plugins/highcharts/highcharts.js"></script>
<script src="../static/plugins/highcharts/modules/annotations.js"></script>
<script src="../static/plugins/highcharts/modules/exporting.js"></script>

<div class="row">
    <div class="col-lg-12 ">
        <h1 class="page-header text-center">
          Datos pecera juanito :)
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- Datos en tiempo real -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
        <i  class="fa fa-bar-chart-o fa-fw"></i> Datos en tiempo real
    </div>
    <div class="panel-body ">
      <div class="col-lg-3 text-center">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Ph
          </div>
          <div class="panel-body">
            <h2 id="data_temp">...</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Temperatura  (°C)
          </div>
          <div class="panel-body">
            <h2 id="data_ph">...</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Temperatura Promedio
          </div>
          <div class="panel-body">
            <h2 id="data_temp_prom">...</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Ph Promedio
          </div>
          <div class="panel-body">
            <h2 id="data_ph_prom">...</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.row -->
<div id="#graficos"class="row">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <i class="fa fa-bar-chart-o fa-fw"></i> Solicitar Graficos
        </div>
        <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="col-lg-12">
            <div class"container">
              <div id="chart1"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class"container">
              <div id="chart2"></div>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
<!-- /.row -->


<script>
var datos_phjs = {{datos_ph}};
var datos_temperaturajs = {{datos_temperatura}};

var ph_prom=0;
for(elem of datos_phjs){
  ph_prom= ph_prom + (elem[1]);
}

var temp_prom=0;
for(elem of datos_temperaturajs){
  temp_prom= temp_prom + (elem[1]);
}
console.log("ph promedio" + ph_prom);
console.log(" temperatura promedio" + temp_prom);

var temperatura;
var ph;
$(document).ready(function () {
    setInterval("ajaxs()", 1000)
});

var cnt = 0.0;

function ajaxs() {
    $.ajax({
        type: "POST",
        url: '/data',
        async: true,
        success: function (data) {
            temperatura = data.temperatura
            ph=data.ph
            ph_prom = ph_prom + parseFloat(ph);
            temp_prom = temp_prom + parseFloat(temperatura);
            $("#data_ph_prom").text((ph_prom/(datos_phjs.length + cnt)).toPrecision(4));
            $("#data_temp_prom").text((temp_prom/(datos_temperaturajs.length + cnt)).toPrecision(4));
            $("#data_temp").text(data.temperatura)
            $('#data_ph').text(data.ph)
            cnt++;
        }
    });
}

// Data generated from http://www.bikeforums.net/professional-cycling-fans/1113087-2017-tour-de-france-gpx-tcx-files.html
Highcharts.setOptions({
    global: {
        useUTC: true
    }
});


console.log( new Date(datos_phjs[0][0]))
var chart1 = new
Highcharts.setOptions({
    global: {
        useUTC: false
    }
});

// Create the chart
var chart1;


Highcharts.setOptions({
    global: {
        useUTC: false
    }
});

// Create the chart
Highcharts.stockChart('chart1', {
    chart: {
        type: "spline",
        events: {
            load: function () {
                var aux;
                // set up the updating of the chart each second
                var series = this.series[0];
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                        y = parseFloat(temperatura);
                    if(temperatura!= aux){
                      series.addPoint([x, y], true, false);
                    }
                    aux = temperatura;
                }, 1000);
            }
        }
    },

    rangeSelector: {
        buttons: [{
            count: 60,
            type: 'minute',
            text: '1H'
        }, {
            count: 1,
            type: 'minute',
            text: '1M'
        },{
            count: 10,
            type: 'minute',
            text: '10M'
        },{
            type: 'all',
            text: 'All'
        }],
        inputEnabled: true,
        selected: 'all',
        verticalAling: 'bottom'
    },

    xAxis: {
      title:{
        text:'Hora'
      },
      type: 'datetime',
      tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: 'Valor Recibido'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            var s = '<b>' + Highcharts.dateFormat('%A, %b %e, %Y', this.x) + '</b>';

            $.each(this.points, function () {
                s += '<br/>Temperatura = ' + this.y +" °C";
            });
            return s;
        }
    },

    title: {
        text: 'Temperatura en tiempo real'
    },

    exporting: {
        enabled: true
    },
    series: [{
        name: 'Random data',
        data:datos_temperaturajs
    }]
});





// Now create the chart
var chart2;
Highcharts.stockChart('chart2', {
    chart: {
        type: "spline",
        events: {
            load: function () {
                var aux2;
                // set up the updating of the chart each second
                var series = this.series[0];
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                        y = parseFloat(ph);
                    if(ph!= aux2){
                      series.addPoint([x, y], true, false);
                    }
                    aux2 = ph;
                }, 1000);
            }
        }
    },

    rangeSelector: {
        buttons: [{
            count: 60,
            type: 'minute',
            text: '1H'
        }, {
            count: 1,
            type: 'minute',
            text: '1M'
        },{
            count: 10,
            type: 'minute',
            text: '10M'
        },{
            type: 'all',
            text: 'All'
        }],
        inputEnabled: true,
        selected: 'all',
        verticalAling: 'bottom'
    },

    xAxis: {
      title:{
        text:'Hora'
      },
      type: 'datetime',
      tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: 'Valor Recibido'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            var s = '<b>' + Highcharts.dateFormat('%A, %b %e, %Y', this.x) + '</b>';

            $.each(this.points, function () {
                s += '<br/>Ph = ' + this.y ;
            });
            return s;
        }
    },

    title: {
        text: 'Ph en tiempo real'
    },

    exporting: {
        enabled: true
    },
    series: [{
        name: 'Random data',
        data:datos_phjs
    }]
});
</script>


{% endblock%}
