{% extends "plantilla.html"%}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="page-header">Administración pecera juanito :)</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- Datos en tiempo real -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
        <i  class="fa fa-bar-chart-o fa-fw"></i> Datos en tiempo real
    </div>
    <div class="panel-body ">
      <div class="col-lg-6 text-center">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Ph
          </div>
          <div class="panel-body">
            <p id="data_temp">...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Temperatura  (°C)
          </div>
          <div class="panel-body">
            <p id="data_ph">...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setInterval("ajaxs()", 1000)
    });

    function ajaxs() {
        $.ajax({
            type: "POST",
            url: '/data',
            async: true,
            success: function (data) {
                $("#data_temp").text(data.temperatura)
                $('#data_ph').text(data.ph)
            }
        });
    }
</script>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
        <i class="fa fa-edit"></i> Agregar Peces
    </div>
    <div class="panel-body">
      <form  action="pecera" method="post">

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="form-group text-center">
              <label for="sel1">Tipo de agua:</label>
              <select class="form-control" id="sel1" name="tipo_agua">
                {% for tipo in tipo_agua2 %}
                    <option value="{{tipo[0]}}">{{tipo[0]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="form-group text-center">
              <label for="sel2">Tipo de pez:</label>
              <select class="form-control" id="sel2" name="tipo_pez" >
                {% for nombre in nombres_aceptados %}
                <option value="{{nombre[0]}}">{{nombre[0]}}</option>
                {% endfor%}
              </select>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="form-group text-center">
              <label for="msg">Nombre Pez:</label>
              <input id="msg" type="text" class="form-control" name="nombre_pez" placeholder="Nombre Pez">
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </form>
    </div>

  </div>
</div>
<div class="row">
  {% if danger == -1 %}
  <div class="alert alert-danger text-center">
    <strong>No existe pez de ese tipo de pez con esas caracteristicas!</strong>
  </div>
  {% elif danger == 1  %}
  <div class="alert alert-success text-center">
    <strong>Pez agregado correctamente</strong>
  </div>
  {% endif %}

</div>





<!--
<div class="row text-center">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog  modal-lg modal-rm">
    <div class="alert alert-danger">
      <!-- Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Alerta Cambio en Variable : </h4>
        </div>
        <div class="modal-body">
          <p> ¡¡ Valor de Ph Muy alto para peces viviendo en la pecera !!</p>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>

  </div>
</div>
-->


<!-- /.row -->
<div id="#graficos"class="row">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <i class="fa fa-bar-chart-o fa-fw"></i> Solicitar Graficos
        </div>
        <!-- /.panel-heading -->
      <div class="panel-body">
            <div class="panel panel-primary">
                  <div class="panel-heading text-center">
                    <i class="fa fa-edit"></i> Editar Intervalo
                  </div>
                  <div class="panel-body">
                    <form class="" action="pecera.html" method="post">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <div class="form-group text-center">
                            <label for="sel1">Tiempo Inicio:</label>
                              <input type="date" vale="tiempo_final">
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                          <div class="form-group text-center">
                            <label for="sel1">Tiempo Final:</label>
                            <input type="date" vale="tiempo_final">
                          </div>
                        <div class="col-lg-12">
                          <div class="form-group text-center">
                            <label>Variable a graficar:</label>
                            <div class="radio">
                              <input type="radio" name="gender" value="temperatura" checked>Temperatura<br>
                            </div>
                            <div class="radio">
                              <input type="radio" name="gender" value="ph">Ph<br>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Solicitar</button>
                      </div>
                    </form>
                  </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading text-center">
                <i class="fa fa-area-chart"></i> Resultado de consulta
              </div>
              <div class="panel-body">
                  <div id="morris-area-chart"></div>
              </div>
            </div>


          </div>

      </div>

    </div>
</div>
<!-- /.row -->
{% endblock%}
